@page
@model TheBestFlight.Pages.VoliModel
@{
    ViewData["Title"] = "Voli";
    int i = 0;
    int a = 0;
}
@*<style>
        body, html {
            height: 100%;
            background-image: url("../images/isola.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>*@
@foreach (var dest in Model.eleDestinazioni)
{
    Model.tratta = new Models.Tratta { IATA_partenza = Model.codiceAeroporto, IATA_destinazione = dest.destination };
    <p>
        <div class="btn-group" style="width: 100%;">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample-@i.ToString()" aria-expanded="false" aria-controls="collapseExample">
                @dest.destination - @Model.eleNomi.Where(p => p.iataCode == dest.destination).FirstOrDefault()?.name - @Model.eleNomi.Where(p => p.iataCode == dest.destination).FirstOrDefault()?.alpha2countryCode - @dest.cheapestFlights[0].price €
            </button>
        </div>
    </p>
    <div class="collapse" id="collapseExample-@i.ToString()">
        <div class="card card-body">
            <table>
                <thead>
                    <tr>
                        <td>Prezzo</td>
                        <td>Compagnia</td>
                        <td>N. Volo</td>
                        <td>Andata</td>
                        <td>Ritorno</td>
                        <td>Scadenza offerta</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var flight in dest.cheapestFlights)
                    {
                        <tr>
                            <td>@flight.price €</td>
                            <td>@flight.airline</td>
                            <td>@flight.flight_number</td>
                            <td>@flight.departure_at</td>
                            <td>@flight.return_at</td>
                            <td>@flight.expires_at</td>
                        </tr>

                    }
                </tbody>
            </table>
            @if (a == 0)
            {
                <form method="post">
                    <a class="btn btn-dark" asp-page="/AggiungiPreferiti" asp-route-volo="@Json.Serialize(Model.tratta)">Aggiungi destinazione ai preferiti</a>
                </form>
            }
        </div>
    </div>
    i++;
}
